{% extends "includes/layout.html" %}


<section id="topOfPage" class="topTabsWrap color_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="speedBar">
                    <a class="home" href="index.html">Home</a>
                    <span class="breadcrumbs_delimiter"> / </span>
                    <a class="all" href="#">All Posts</a>
                    <span class="breadcrumbs_delimiter"> / </span>
                    <span class="current">About Us</span> 
                </div>
                <h3 class="pageTitle h3">About Us</h3>
            </div>
        </div>
    </div>
</section>

<section class="mainWrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 sc_column_item"> 
                <div class="col-sm-6 sc_column_item margin_bottom_mini margin_right_mini"> 
                    <figure class="sc_image  sc_image_shape_square">
                        <img src="img/11.jpg" alt="">
                    </figure> 
                </div>
                <h1>Few words about Kindergarten</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div> 
        </div>  
        <div class="row">
            <div class="col-sm-12">
                <h2 class="sc_title sc_title_regular text-center margin_bottom_mini">Meet Our Tutors</h2>
                <div class="sc_team">
                    <div class="col-md-3 col-sm-6 margin_bottom_small">
                        <div class="sc_team_item">
                            <div class="sc_team_item_avatar">
                                <img alt="stuff-2.jpg" src="img/team/stuff-2-370x370.jpg">
                                <div class="sc_team_item_description"> 
                                    Aliquam erat volutpat. Nulla pulvinar scelerisque dui, ac elementum dolor sagittis eget. 
                                </div>
                            </div>
                            <div class="sc_team_item_info">
                                <h3 class="sc_team_item_title">David Schwimmer</h3>
                                <div class="sc_team_item_position theme_accent2">mentor</div>
                                <ul class="sc_team_item_socials">
                                    <li>
                                        <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_gplus" target="_blank" href="http://gplus.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_dribbble" target="_blank" href="http://dribbble.com">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 margin_bottom_small">
                        <div class="sc_team_item">
                            <div class="sc_team_item_avatar">
                                <img alt="stuff-3.jpg" src="img/team/stuff-3-370x370.jpg">
                                <div class="sc_team_item_description"> 
                                    Cras sodales, justo et rutrum consequat, elit magna semper augue, quis viverra velit orci quis diam. Sed vestibulum porta tellus, sed cursus velit laoreet non. 
                                </div>
                            </div>
                            <div class="sc_team_item_info">
                                <h3 class="sc_team_item_title">Lisa Kudrow</h3>
                                <div class="sc_team_item_position theme_accent2">teacher</div>
                                <ul class="sc_team_item_socials">
                                    <li>
                                        <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_rss" target="_blank" href="http://rss.com">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 margin_bottom_small">
                        <div class="sc_team_item">
                            <div class="sc_team_item_avatar">
                                <img alt="stuff-4.jpg" src="img/team/stuff-4-370x370.jpg">
                                <div class="sc_team_item_description"> 
                                    Donec vestibulum elementum massa id tempor. Cras malesuada sapien mauris, quis tincidunt metus euismod sit amet. Pellentesque tempor volutpat leo, eget bibendum risus mattis et 
                                </div>
                            </div>
                            <div class="sc_team_item_info">
                                <h3 class="sc_team_item_title">Matt LeBlanc</h3>
                                <div class="sc_team_item_position theme_accent2">teacher</div>
                                <ul class="sc_team_item_socials">
                                    <li>
                                        <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_dribbble" target="_blank" href="http://dribbble.com">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 margin_bottom_small">
                        <div class="sc_team_item">
                            <div class="sc_team_item_avatar">
                                <img alt="stuff-3.jpg" src="img/team/stuff-1-370x370.jpg">
                                <div class="sc_team_item_description"> 
                                    Cras sodales, justo et rutrum consequat, elit magna semper augue, quis viverra velit orci quis diam. Sed vestibulum porta tellus, sed cursus velit laoreet non. 
                                </div>
                            </div>
                            <div class="sc_team_item_info">
                                <h3 class="sc_team_item_title">Matthew Perry</h3>
                                <div class="sc_team_item_position theme_accent2">teacher</div>
                                <ul class="sc_team_item_socials">
                                    <li>
                                        <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                            <span></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="social_icons social_rss" target="_blank" href="http://rss.com">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                       
                </div>
                <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="sc_skills sc_skills_arc margin_bottom_mini" data-type="arc" data-subtitle="Skills">
                            <div class="sc_skills_legend">
                                <h2>Web skills</h2>
                                <ul>
                                    <li>JavaScript</li>
                                    <li>CSS3</li>
                                    <li>HTML5</li>
                                    <li>PHP</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                            <div id="sc_skills" class="sc_skills_arc_canvas">

                            </div>
                            <div class="sc_skills_data">
                                <div class="arc">
                                    <input type="hidden" class="text" value="JavaScript">
                                    <input type="hidden" class="percent" value="95">
                                    <input type="hidden" class="color">
                                </div>
                                <div class="arc">
                                    <input type="hidden" class="text" value="CSS3">
                                    <input type="hidden" class="percent" value="90">
                                    <input type="hidden" class="color">
                                </div>
                                <div class="arc">
                                    <input type="hidden" class="text" value="HTML5">
                                    <input type="hidden" class="percent" value="80">
                                    <input type="hidden" class="color">
                                </div>
                                <div class="arc">
                                    <input type="hidden" class="text" value="PHP">
                                    <input type="hidden" class="percent" value="53">
                                    <input type="hidden" class="color">
                                </div>
                                <div class="arc">
                                    <input type="hidden" class="text" value="MySQL">
                                    <input type="hidden" class="percent" value="45">
                                    <input type="hidden" class="color">
                                </div>
                            </div> 
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-12"> 
                        <h2>Our language skills</h2>
                        <div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal"> 
                            <div class="sc_skills_info">English</div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="39" data-duration="3822" data-ed="%">0</div>
                                </div>
                            </div> 
                            <div class="sc_skills_info">Spanish</div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="66" data-step="1" data-max="100" data-speed="23" data-duration="1518" data-ed="%">0</div>
                                </div>
                            </div> 
                            <div class="sc_skills_info">French</div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="32" data-duration="2784" data-ed="%">0</div>
                                </div>
                            </div> 
                            <div class="sc_skills_info">Latin</div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="82" data-step="1" data-max="100" data-speed="32" data-duration="2624" data-ed="%">0</div>
                                </div>
                            </div> 
                            <div class="sc_skills_info">Others</div>
                            <div class="sc_skills_item sc_skills_style_1">
                                <div class="sc_skills_count">
                                    <div class="sc_skills_total" data-start="0" data-stop="76" data-step="1" data-max="100" data-speed="11" data-duration="836" data-ed="%">0</div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="sc_line sc_line_style_shadow margin_bottom_mini"></div>
                <div class="row">
                    <h2 class="text-center">Services</h2>

                    <div class="sc_skills sc_skills_counter sc_skills_counter_5" data-type="counter" data-subtitle="Skills">
                        <div class="columnsWrap sc_skills_columns"> 
                            <div class="sc_skills_column col-md-2 col-md-offset-1 col-sm-12">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="68" data-step="1" data-max="100" data-speed="38" data-duration="2584" data-ed="%">0</div>
                                    </div>
                                    <div class="sc_skills_info">Clean Design</div>
                                </div>
                            </div> 
                            <div class="sc_skills_column col-md-2 col-sm-6">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="72" data-step="1" data-max="100" data-speed="18" data-duration="1296" data-ed="%">0</div>
                                    </div>
                                    <div class="sc_skills_info">Incredible Flexible</div>
                                </div>
                            </div>
                            <div class="sc_skills_column col-md-2 col-sm-6">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="28" data-duration="2744" data-ed="%">0</div>
                                    </div>
                                    <div class="sc_skills_info">Responsive</div>
                                </div>
                            </div>
                            <div class="sc_skills_column col-md-2 col-sm-6">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="45" data-step="1" data-max="100" data-speed="15" data-duration="675" data-ed="%">0</div>
                                    </div>
                                    <div class="sc_skills_info">SEO Ready</div>
                                </div>
                            </div>
                            <div class="sc_skills_column col-md-2 col-sm-6">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="78" data-step="1" data-max="100" data-speed="27" data-duration="2106" data-ed="%">0</div>
                                    </div>
                                    <div class="sc_skills_info">Free support</div>
                                </div>
                            </div> 
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>   
</section>
