{% extends "includes/layout.html" %}
{% block content %}

<section id="topOfPage" class="topTabsWrap color_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="speedBar">
                    <a class="home" href="index.html">Home</a>
                    <span class="breadcrumbs_delimiter"> / </span>
                    <a class="all" href="#">All Posts</a>
                    <span class="breadcrumbs_delimiter"> / </span>
                    <span class="current">Contact Us</span> 
                </div>                
                <h3 class="pageTitle h3">Contact Us</h3>
            </div>
        </div>
    </div>
</section>

<section class="mainWrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="columnsWrap"> 
                    <div class="col-sm-6 sc_column_item"> 
                        <figure class="sc_image  sc_image_shape_square">
                            <img src="img/contact.jpg" alt="">
                        </figure> 
                    </div> 
                    <div class="col-sm-6 sc_column_item"> 
                        <h1>We’d love to hear from you</h1>
                        <p>For academic and any other related concerns,
                        do not hesitate to reach out to us. Thank you.</p>
                        <h1>Business hours</h1>
                        <p>
                            <strong>
                                Monday – Friday 7am to 3pm
                                <br>
                                Saturday – Closed
                                <br>
                                Sunday – Closed
                            </strong>
                        </p>
                    </div> 
                </div>

            </div>
      
        </div>  
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_contact_form sc_contact_form_contact">
                    <h1 class="title">Send Us a Message</h1>
                    <form data-formtype="contact" method="post" action="include/contact-form.php">
                        <div class="columnsWrap">
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_username">Name</label>
                                <input id="sc_contact_form_username" type="text" name="username">
                            </div>
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_email">E-mail</label>
                                <input id="sc_contact_form_email" type="text" name="email">
                            </div>
                            <div class="col-sm-4">
                                <label class="required" for="sc_contact_form_subj">Subject</label>
                                <input id="sc_contact_form_subj" type="text" name="subject">
                            </div>
                        </div>
                        <div class="message">
                            <label class="required" for="sc_contact_form_message">Your Message</label>
                            <textarea id="sc_contact_form_message" class="textAreaSize" name="message"></textarea>
                        </div>
                        <div class="sc_contact_form_button">
                            <div class="squareButton ico">
                                <a href="#" class="sc_contact_form_submit icon-comment">Send Message</a>
                            </div>
                        </div>
                        <div class="result sc_infobox"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>   
</section>

<div style="margin-left: 10px;">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.573254377757!2d-0.2674677852862717!3d5.629832795918801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf68c38a9ded1fc6!2zNcKwMzcnNDcuNCJOIDDCsDE1JzU1LjAiVw!5e0!3m2!1sen!2sgh!4v1648484133007!5m2!1sen!2sgh"
        width="1600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

{% endblock %}