{% extends "includes/layout.html" %}
{% block content %}

<section>
    <div class="sliderHomeBullets staticSlider slider_engine_royal slider_alias_4">
        <div class="royalSlider">
            <div class="slideContent sliderBGanima slide-1" data-rsDelay="5000">
                <div class="container">
                    <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="left"
                        data-opposite="true" data-move-offset="900" data-delay="500" data-speed="900"
                        data-easing="easeOutBack" src="{{ url_for('static', filename='img/slider/DSC_6293.JPG')}}" data-rsw="1020"
                        data-rsh="500">
                    <div class="rsABlock textBlock theme_accent" data-fade-effect="none" data-move-effect="left"
                        data-opposite="true" data-move-offset="1200" data-delay="700" data-speed="1200"
                        data-easing="" data-rsw="707" data-rsh="471">
                        <div class="title">Welcome to <br>BrainBirds Academy</div>
                        <p>Your Children are Safe With Us!</p>
                    </div>
                    
                </div>
            </div>
            <div class="slideContent slide-2" data-rsDelay="5000">
                <div class="container">
                    <img alt="" class="rsABlock image" data-fade-effect="none" data-move-effect="left"
                        data-opposite="true" data-move-offset="900" data-delay="300" data-speed="900"
                        data-easing="easeOutBack" src="{{ url_for('static', filename='img/slider/DSC_6331.JPG')}}" data-rsw="1020"
                        data-rsh="500">
                    <div class="rsABlock textBlock" data-fade-effect="none" data-move-effect="right"
                        data-opposite="true" data-move-offset="900" data-delay="700" data-speed="1200"
                        data-easing="" data-rsw="707" data-rsh="471">
                        <div class="title">We Offer Your Child</div>
                        <p>Different Kinds of Activities!</p>
                    </div>
                    <div class="rsABlock order" data-fade-effect="none" data-move-effect="bottom"
                        data-opposite="true" data-move-offset="950" data-delay="950" data-speed="900"
                        data-easing="" data-rsw="707" data-rsh="471">
                        <a href="#">Learn with us!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center color_section">
    <div class="container">
        <div class="row">
            <div class="sc_content user_header">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <span class="sc_icon rt-icon-diamond "></span>
                    </a>
                    <div class="sc_section">
                        <a href="#">Date Established</a>
                    </div>
                    <div class="sc_section">EST. 2005</div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <span class="sc_icon rt-icon-heart4 "></span>
                    </a>
                    <div class="sc_section">
                        <a href="#">Number of students</a>
                    </div>
                    <div class="sc_section">500 +</div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <span class="sc_icon rt-icon-star "></span>
                    </a>
                    <div class="sc_section">
                        <a href="#">Number of Teachers</a>
                    </div>
                    <div class="sc_section">22 +</div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <span class="sc_icon rt-icon-clipboard "></span>
                    </a>
                    <div class="sc_section">
                        <a href="#">Book Shop</a>
                    </div>
                    <div class="sc_section">1</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section for main page -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="post_title text-center">
                    <a href="features_shortcodes_zoom.html">Theme is easy to use with any type of displays</a>
                </h2>
                <div class="sc_section col-sm-6 sc_aligncenter"> 
                    <div class="sc_border sc_border_dark">
                        <div id="swiper_container_2" class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_pagination swiper-container2">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <img src="{{ url_for('static', filename='img/slider/IMG_0436.jpg') }}" alt="">
                                </li>

                                <li class="swiper-slide">
                                    <img src="{{ url_for('static', filename='img/slider/IMG_0443.jpg') }}" alt="">
                                </li>

                                <li class="swiper-slide">
                                    <img src="{{ url_for('static', filename='img/slider/IMG_20210611_103656.jpg') }}" alt="">
                                </li>

                                <li class="swiper-slide">
                                    <img src="{{ url_for('static', filename='img/slider/IMG_20210624_152435.jpg')}}" alt="">
                                </li>
                            </ul>
                            <ul class="flex-direction-nav">
                                <li>
                                    <a class="swiper-button-prev" href="#"></a>
                                </li>
                                <li>
                                    <a class="swiper-button-next" href="#"></a>
                                </li>
                            </ul>
                            <div class="flex-control-nav">
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>                             
                    </div>
                </div>
                <div class="postImage text-left">
                    <p> </p>
                    <div class="sc_title_image sc_title_left sc_size_medium">
                        <img src="img/lens_icon_retina.png" alt="">
                    </div>
                    <h3 class="sc_title sc_title_iconed">Retina Ready</h3> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <p></p>
                </div>
                <div class="postSharing">
                    <ul>
                        <li class="squareButton light ico">
                            <a class="fa-link" title="More" href="features_shortcodes_zoom.html">More</a>
                        </li>
                        <li class="squareButton light ico">
                            <a class="fa-eye" title="Views - 308" href="features_shortcodes_zoom.html">308</a>
                        </li>
                        <li class="squareButton light ico">
                            <a class="fa-comment" title="Comments - 1" href="features_shortcodes_zoom.html">1</a>
                        </li>
                        <li class="squareButton light ico likeButton like" data-postid="109" data-likes="10" data-title-like="Like" data-title-dislike="Dislike">
                            <a class="fa-heart" title="Like - 10" href="#">
                                <span class="likePost">10</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
        <div class="sc_line sc_line_style_shadow margin_top_small"></div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2 class="sc_title margin_bottom_small">Timeline</h2> 
                <div class="sc_timeline timeline_s3 style_date">
                    <div id="swiper_container_14" class="sc_scroll sc_scroll_vertical swiper-container_14">
                        <div class="sc_blogger sc_blogger_vertical style_date swiper-wrapper">
                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">08.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">1255</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">03.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">798</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">28.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_3.html">Sed orci odio</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">555</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item sc_blogger_item_last">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">26.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">355</span>
                                    </div>
                                </article>
                            </div>
                            
                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">08.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">1255</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">03.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">798</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">28.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_3.html">Sed orci odio</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">555</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item sc_blogger_item_last">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">26.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">355</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">08.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Maecenas tristique sem ante</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">1255</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">03.03</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_2.html">Vivamus pharetra justo eget</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">798</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">28.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_3.html">Sed orci odio</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">555</span>
                                    </div>
                                </article>
                            </div>

                            <div class="sc_timeline_item sc_scroll_slide swiper-slide">
                                <article class="sc_blogger_item sc_blogger_item_last">
                                    <div class="sc_blogger_date">
                                        <span class="day_month">26.02</span>
                                        <span class="year">2014</span>
                                    </div>
                                    <h4 class="sc_blogger_title sc_title">
                                        <a href="images_style_1.html">Ut vitae lacus pretium</a>
                                    </h4>
                                    <div class="sc_blogger_info">
                                        by 
                                        <a href=# class="post_author">John Doe</a> 
                                        <span class="separator">|</span> 
                                        Views 
                                        <span class="comments_number">355</span>
                                    </div>
                                </article>
                            </div>


                        </div>
                        <div class="swiper-scrollbar sc_scroll_bar"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-12"> 
                <h2>Recommended posts</h2>
                <div class="sc_blogger relatedPostWrap">
                    <article class="col-md-6 col-sm-12">
                        <div class="thumb hoverIncrease" data-image="img/portfolio_item.jpg" data-title="Vivamus pharetra justo eget">
                            <img alt="Vivamus pharetra justo eget" src="img/portfolio_item-400x225.jpg">
                        </div>
                        <h4>
                            <a href="#">Vivamus pharetra justo eget</a>
                        </h4>
                        <p>Vivamus pharetra justo eget placerat commodo. Class aptent taciti sociosqu ad litora torquent...</p>
                        <div class="relatedInfo">
                            Posted 
                            <a href="#" class="post_date">March 3, 2014</a>
                            <span class="separator">|</span>
                            <span class="infoTags">
                                <a class="tag_link" href="#">masonry</a>
                            </span>
                        </div>
                        <div class="relatedMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="fa-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="fa-comment" title="Comments - 0" href="#comments">0</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-md-6 col-sm-12">
                        <div class="thumb hoverIncrease" data-image="img/9435123826_a4c3b35c08_o.jpg" data-title="Sed orci odio">
                            <img alt="Sed orci odio" src="img/9435123826_a4c3b35c08_o-400x225.jpg">
                        </div>
                        <h4>
                            <a href="#">Sed orci odio</a>
                        </h4>
                        <p>Sed orci odio, adipiscing vel libero eget, volutpat dictum orci. Donec eu euismod dui, nec...</p>
                        <div class="relatedInfo">
                            Posted 
                            <a href="#" class="post_date">February 28, 2014</a>
                            <span class="separator">|</span>
                            <span class="infoTags">
                                <a class="tag_link" href="#">masonry</a>
                            </span>
                        </div>
                        <div class="relatedMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="fa-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="fa-comment" title="Comments - 0" href="#comments">0</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-md-6 col-sm-12">
                        <div class="thumb hoverIncrease" data-image="img/portfolio16x9_2.jpg" data-title="Ut vitae lacus pretium">
                            <img alt="Ut vitae lacus pretium" src="img/portfolio16x9_2-400x225.jpg">
                        </div>
                        <h4>
                        <a href="#">Ut vitae lacus pretium</a>
                        </h4>
                        <p>Ut vitae lacus pretium, molestie massa a, placerat urna. Donec viverra nisl id nisl accumsan, ac...</p>
                        <div class="relatedInfo">
                            Posted 
                            <a href="#" class="post_date">February 26, 2014</a>
                            <span class="separator">|</span>
                            <span class="infoTags">
                                <a class="tag_link" href="#">masonry,</a>
                                <a class="tag_link" href="#">portfolio</a>
                            </span>
                        </div>
                        <div class="relatedMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="fa-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="fa-comment" title="Comments - 0" href="#comments">0</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="col-md-6 col-sm-12">
                        <div class="thumb hoverIncrease" data-image="img/masonry4.jpg" data-title="Duis consequat arcu et lacus">
                            <img alt="Duis consequat arcu et lacus" src="img/masonry4-400x225.jpg">
                        </div>
                        <h4>
                            <a href="#">Duis consequat arcu et lacus</a>
                        </h4>
                        <p>Duis consequat arcu et lacus interdum lobortis at ac nisl. Vestibulum ante ipsum primis in...</p>
                        <div class="relatedInfo">
                            Posted 
                            <a href="#" class="post_date">February 20, 2014</a>
                            <span class="separator">|</span>
                            <span class="infoTags">
                                <a class="tag_link" href="#">4 columns,</a>
                                <a class="tag_link" href="#">masonry</a>
                            </span>
                        </div>
                        <div class="relatedMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="fa-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="fa-comment" title="Comments - 0" href="#comments">0</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div> 
        </div>
        <div class="sc_line sc_line_style_shadow margin_top_small"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-4 col-sm-12">
                    <h3>About Us</h3>
                    <div class="panel-group sc_accordion sc_accordion_style_1" id="accordion">
                        <div class="panel sc_accordion_item">
                            <div>
                                <h4 class="panel-title sc_accordion_title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Vision
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="sc_accordion_content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. 
                                </div>
                            </div>
                        </div>
                        <div class="panel sc_accordion_item">
                            <div>
                                <h4 class="panel-title sc_accordion_title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                        Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="sc_accordion_content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                        <div class="panel sc_accordion_item">
                            <div>
                                <h4 class="panel-title sc_accordion_title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                                        Motto
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="sc_accordion_content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4 col-sm-12">
                    <h3>Some facts about us</h3>
                    <div class="sc_skills sc_skills_counter" data-type="counter" data-subtitle="Skills">
                        <div class="columnsWrap sc_skills_columns sc_skills_columns_2"> 
                            <div class="sc_skills_column col-sm-6">
                                <div class="sc_skills_item sc_skills_style_1">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="999" data-step="10" data-max="1000" data-speed="25" data-duration="2498" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_info">CSS3</div>
                                </div>
                            </div> 
                            <div class="sc_skills_column col-sm-6">
                                <div class="sc_skills_item sc_skills_style_2">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="549" data-step="10" data-max="1000" data-speed="24" data-duration="1318" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_info">HTML5</div>
                                </div>
                            </div> 
                            <div class="sc_skills_column col-sm-6">
                                <div class="sc_skills_item sc_skills_style_4">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="68" data-step="1" data-max="1000" data-speed="21" data-duration="143" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_info">MySQL</div>
                                </div>
                            </div> 
                            <div class="sc_skills_column col-sm-6">
                                <div class="sc_skills_item sc_skills_style_3">
                                    <div class="sc_skills_count">
                                        <div class="sc_skills_total" data-start="0" data-stop="174" data-step="5" data-max="1000" data-speed="25" data-duration="435" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_info">PHP</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>                                        
                <div class="col-md-4 col-sm-12">
                    <div class="sc_testimonials sc_testimonials_style_1 sc_testimonials_padding sc_testimonials_controls_top">
                        <h2 class="sc_testimonials_title">Testimonials</h2>
                        <div id="swiper_container_3" class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_controls_top swiper-container3 swiper-container-horizontal">
                            <ul class="sc_testimonials_items swiper-wrapper">

                                <li class="sc_testimonials_item swiper-slide">
                                    <div class="sc_testimonials_item_content">
                                        <div class="sc_testimonials_item_quote">
                                            <div class="sc_testimonials_item_text">
                                                Awesome, thanks for looking out for us ThemeREX.<br/>
                                                Money well spent.  
                                            </div>
                                        </div>
                                        <div class="sc_testimonials_item_author">
                                            <div class="sc_testimonials_item_avatar">
                                                <img src="img/testimonials/no-ava.png" alt="">
                                            </div>
                                            <div class="sc_testimonials_item_name">
                                                dominikhopko.com
                                            </div>
                                            <div class="sc_testimonials_item_position">
                                                Purchaser
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="sc_testimonials_item swiper-slide">
                                    <div class="sc_testimonials_item_content">
                                        <div class="sc_testimonials_item_quote">
                                            <div class="sc_testimonials_item_text"> 
                                                Best purchase i made in envato. Great Theme! 
                                            </div>
                                        </div>
                                        <div class="sc_testimonials_item_author">
                                            <div class="sc_testimonials_item_avatar">
                                                <img alt="" src="img/testimonials/469c83f03b07853b77dc3e7d65fb4964.jpeg" class="avatar avatar-50 photo">
                                            </div>
                                            <div class="sc_testimonials_item_name">
                                                Green2005
                                            </div>
                                            <div class="sc_testimonials_item_position">
                                                Purchaser
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="sc_testimonials_item swiper-slide">
                                    <div class="sc_testimonials_item_content">
                                        <div class="sc_testimonials_item_quote">
                                            <div class="sc_testimonials_item_text"> 
                                                 Hi! I’ve just check and it work perfectly! 
                                            </div>
                                        </div>
                                        <div class="sc_testimonials_item_author">
                                            <div class="sc_testimonials_item_avatar">
                                                <img src="img/testimonials/no-ava.png" alt="">
                                            </div>
                                            <div class="sc_testimonials_item_name">
                                                Arnfinn Nilsen
                                            </div>
                                            <div class="sc_testimonials_item_position">
                                                Purchaser
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sc_testimonials_item swiper-slide">
                                    <div class="sc_testimonials_item_content">
                                        <div class="sc_testimonials_item_quote">
                                            <div class="sc_testimonials_item_text"> 
                                                Great theme &amp; fast Support. 
                                            </div>
                                        </div>
                                        <div class="sc_testimonials_item_author">
                                            <div class="sc_testimonials_item_avatar">
                                                <img src="img/testimonials/no-ava.png" alt="">
                                            </div>
                                            <div class="sc_testimonials_item_name">
                                                Revilotmalk
                                            </div>
                                            <div class="sc_testimonials_item_position">
                                                Purchaser
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="flex-direction-nav">
                            <li>
                                <a class="swiper-button-prev3" href="#"></a>
                            </li>
                            <li>
                                <a class="swiper-button-next3" href="#"></a>
                            </li>
                        </ul>
                    </div>                       
                </div>
            </div>                
        </div>
        <div class="sc_line sc_line_style_shadow margin_top_small"></div>
        <!-- <div class="row">
            <div class="col-sm-12">
                <h2>Some of our clients</h2> 
                <div class="sc_clients_slider sc_section sc_scroll_controls sc_scroll_controls_horizontal sc_scroll_controls_type_yes">
                    <div id="swiper_container_13" class="sc_scroll sc_scroll_horizontal swiper-container_13 scroll-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="img/partners/partner1-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner2-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner3-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner4-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner5-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner6-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner7-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner8-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner9-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner10-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner11-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner12-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner13-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner14-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner15-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner16-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner17-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner18-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner19-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner20-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner21-120x120.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/partners/partner22-120x120.png" alt="">
                            </div>                 
                        </div>
                        <div class="swiper-scrollbar13 sc_scroll_bar"></div>
                    </div>
                    <ul class="flex-direction-nav">
                        <li>
                            <a class="flex-prev swiper-button-prev13" href="#"></a>
                        </li>
                        <li>
                            <a class="flex-next swiper-button-next13" href="#"></a>
                        </li>
                    </ul>
                </div>                        
            </div>
        </div> -->
    </div>
</section>

<section class="footerContentWrap">

    <footer class="footerWrap contactFooterWrap">
        <div class="container contactFooter">
            <div class="col-sm-12">
                <div class="logo">
                    <a href="#">
                        <img src="img/logo/logo-footer.png" alt="">
                        <span class="logo_text">BrainBirds Academy</span>
                    </a>
                </div>
                <div class="contactAddress">
                    <address class="addressRight">
                        Phone: 1.800.123.4567<br>
                        Fax: 1.800.123.4566
                    </address>
                    <address class="addressLeft">
                        San Francisco, CA 94102, US<br>
                        1234, Some Str.
                    </address>
                </div>
                <div class="contactShare">
                    <ul>
                        <li>
                            <a class="social_icons social_facebook" target="_blank" href="http://facebook.com">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social_icons social_pinterest" target="_blank"
                                href="http://pinterest.com">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social_icons social_twitter" target="_blank" href="http://twitter.com">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social_icons social_gplus" target="_blank" href="http://gplus.com">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social_icons social_rss" target="_blank" href="http://rss.com">
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a class="social_icons social_dribbble" target="_blank" href="http://dribbble.com">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</section>

{% endblock content%}